<a href="https://colab.research.google.com/github/cconover2b/CSE280_Discrete_Math/blob/main/Copy_of_class_activity_w06_relations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class Activity - Relational Databases

## How do relations relate to relational databases?

Most of our discussion of relations so far has been focused on binary relations, which are sets of ordered pairs that map from one set to another set. For example, R = {(a,b), (b,a), (a,c), (c,c), (d,a)}.

More generally, relations can be defined on more than two sets. When a relation is defined on more than two sets, it is called an **n-ary relation**.

For example, a relation on sets $A_1, A_2, \dots, A_n$ is a subset of the cartesian product of these sets, which is $A_1 \times A_2 \times \dots \times A_n$.

An n-ary relation is a set of ordered n-tuples containing elements from each of the sets.

For example, given the sets $A = \{\textrm{All First Names}\}$, $B = \{x \in \mathbb{Z} :\, 0 < x < 120 \}$, $C = \{\textrm{Freshman, Sophomore, Junior, Senior} \}$, and $D = \{\textrm{All Countries}\}$, one relation between these sets could be defined as the set of 4-tuples that represent students attending BYU-Idaho.

One example of an n-tuple in this relation could be $(\textrm{Alice, 21, Sophomore, United States})$.

A table in a relational database is a relation. In other words, it is a set of ordered n-tuples with each n-tuple in the relation representing a single row in the database. It is a set because each n-tuple (or row) in the table must be unique.

## Activity
Represent these two tables using Python as a set of n-tuples.

Courses table:

|Course Number|Course Title|Instructor|Semester|
|---|---|---|---|
|CSE 110|Programming Building Blocks|Comeau|Spring|
|CSE 110|Programming Building Blocks|Phillips|Fall|
|CSE 111|Programming with Functions|Birch|Winter|
|CSE 111|Programming with Functions|Clements|Fall|
|CSE 111|Programming with Functions|Burton|Spring|
|CSE 170|Technical Teamwork|Hansen|Fall|
|CSE 180|Algorithmic Thinking|Kay|Spring|
|CSE 180|Algorithmic Thinking|Kay|Winter|
|CSE 280|Discrete Mathematics|Phillips|Spring|
|CSE 280|Discrete Mathematics|Barney|Fall|
|CSE 280|Discrete Mathematics|Phillips|Winter|
|CSE 280|Discrete Mathematics|Macbeth|Winter|

Students table:

|Student Name|Course Number|Semester|
|---|---|---|
|Bob|CSE 110|Spring|
|Bob|CSE 111|Fall|
|Sue|CSE 111|Fall|
|Sue|CSE 180|Winter|
|Bill|CSE 280|Spring|
|Bill|CSE 170|Fall|


Then use Python to answer the following questions, using list comprehensions.

1. Find all rows in the "courses" table where the class number is CSE 280

2. Find the names of all classes taught by Phillips

3. List all class names for classes taught in Spring

4. List all class numbers and instructors for classes taught in Fall

5. Find the instructor name for Sue's CSE 111 class. This will require a list comprehension with two `for` clauses. First look Sue's CSE 111 class in the students table to find the semester for that class, then look for that specific class in the classes table.


**Hint:** Here is an example of using a list comprehension to find all rows in "courses" where the semester is "Spring".

`{x for x in courses where x[3] == 'Spring'}`

If you are familiar with the SQL language, notice the similarities to a list comprehension in Python. To do the same task in SQL, the command would be something like this:

    SELECT * FROM courses WHERE semester="Spring"

In [ ]:
# Represent the courses table as a set of tuples
courses = {("CSE 110", "Programming Building Blocks", "Comeau", "Spring"),
           ("CSE 110", "Programming Building Blocks", "Phillips", "Fall"),
           ("CSE 111", "Programming with Functions", "Birch", "Winter"),
           ("CSE 111", "Programming with Functions", "Clements", "Fall"),
           ("CSE 111", "Programming with Functions", "Burton", "Spring"),
           ("CSE 170", "Technical Teamwork", "Hansen", "Fall"),
           ("CSE 180", "Algorithmic Thinking", "Kay", "Spring"),
           ("CSE 180", "Algorithmic Thinking", "Kay", "Winter"),
           ("CSE 280", "Discrete Mathematics", "Phillips", "Spring"),
           ("CSE 280", "Discrete Mathematics", "Barney", "Fall"),
           ("CSE 280", "Discrete Mathematics", "Phillips", "Winter"),
           ("CSE 280", "Discrete Mathematics", "Macbeth", "Winter")}


# Represent the students table as a set of tuples
students = {('Bob', 'CSE 110', 'Spring'),
            ('Bob', 'CSE 111', 'Fall'),
            ('Sue', 'CSE 111', 'Fall'),
            ("Sue", 'CSE 180', "Winter"),
            ('Bill', 'CSE 280', 'Spring'),
            ("Bill", "CSE 170", "Fall")}


# Find all rows where the class number is CSE 280



# Find all classes taught by Phillips



# List all class names for classes taught in Spring



# List all class numbers and instructors for classes taught in Fall



# Find the instructor name for Sue's CSE 111 class

## Sample solution...don't peek until you try it first!

In [ ]:
#@title Sample Solution {display-mode: "form"}
# Find all rows where the class number is CSE 280
print({x for x in courses if x[0] == "CSE 280"})

# Find all classes taught by Phillips
print({x for x in courses if x[2] == 'Phillips'})

# List all class names for classes taught in Spring
print({x[1] for x in courses if x[3] == 'Spring'})

# List all class numbers and instructors for classes taught in Fall
print({(x[0], x[2]) for x in courses if x[3] == 'Fall'})

# Find the instructor name for Sue's CSE 111 class
print({course[2]
       for student in students if student[0] == 'Sue' and student[1] == 'CSE 111'
       for course in courses if course[0] == student[1] and course[3] == student[2]})

# Alternatively
print({course[2] for course in courses for student in students
       if student[0] == 'Sue' and student[1] == 'CSE 111'
       and course[0] == student[1] and course[3] == student[2]})

# my code

In [ ]:
##Using the below table of prefix codes, store them in a Python dictionary, then use Python to encode this message: "discrete math is fun"

def encode_message(message, encoding_dict):
    encoded_message = ""
    for char in message:
        if char in encoding_dict:
            encoded_message += encoding_dict[char]
        else:
            # If the character is not in the dictionary, keep it unchanged
            encoded_message += char
    return encoded_message

# Dictionary
encoding_dictionary = {
    'd': '0000', 'l': '0001', 'i': '001', 'r': '0100', 'n': '0101',
    'p': '01100', 'z': '01101000', 'w': '011010010', 'y': '011010011',
    'j': '011010100', 'k': '011010101', 'h': '01101011', 'g': '0110110',
    'v': '0110111', 'a': '0111', 'o': '1000', 'u': '1001', 't': '1010',
    'c': '10110', 'b': '1011100', 'f': '1011101', 'x': '1011110',
    'q': '1011111', ' ': '110', 'm': '11100', 's': '11101', 'e': '1111'
}

input_message = 'discrete math is fun'
encoded_result = encode_message(input_message, encoding_dictionary)
print(f"Encoded message: {encoded_result}")

In [ ]:
def encode_message_using_map(message, encoding_dict):
    # Map each character in the message to its corresponding code
    encoded_chars = map(lambda char: encoding_dict.get(char, char), message)
    # Join the encoded characters to form the final encoded message
    encoded_message = ''.join(encoded_chars)
    return encoded_message

# Given dictionary
encoding_dictionary = {
    'd': '0000', 'l': '0001', 'i': '001', 'r': '0100', 'n': '0101',
    'p': '01100', 'z': '01101000', 'w': '011010010', 'y': '011010011',
    'j': '011010100', 'k': '011010101', 'h': '01101011', 'g': '0110110',
    'v': '0110111', 'a': '0111', 'o': '1000', 'u': '1001', 't': '1010',
    'c': '10110', 'b': '1011100', 'f': '1011101', 'x': '1011110',
    'q': '1011111', ' ': '110', 'm': '11100', 's': '11101', 'e': '1111'
}

# Example usage:
input_message = 'discrete math is fun'
encoded_result = encode_message_using_map(input_message, encoding_dictionary)
print(f"Encoded message using map: {encoded_result}")

In [1]:
word = "mississippi"
# 1
print(f'1. {8*len(word)}')

# 2
total = 1*word.count('s') + 2*word.count('i') + 3*word.count('m') + 3*word.count('p')
print(f'2. {total}')

# 3
print(f'3. {total/len(word)} bits per letter')

# 4
f = 8  # 8 bits per letter for fixed encoding
v = total/len(word)  # this many bits per letter for variable length encoding using the given prefix code
print(f'4. {100*(f-v)/f:.2f}%')

1. 88
2. 21
3. 1.9090909090909092 bits per letter
4. 76.14%